.site-footer {
	background-color: #fff;
	border-top: 1px solid #eee;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.5;
	padding: 30px;
	text-align: center;
}

.site-footer p {
	margin-bottom: 0;
}

@import 'footer-widgets';

@media only screen and (min-width: 960px) {
	/* Footer Widgets
	--------------------------------------------- */

	.footer-widgets .wrap {
		max-width: 1140px;
	}

	.footer-widget-area {
		float: left;
		margin-bottom: 0;
		width: 33.33%; /* fallback for older browsers */
		width: calc(100% / 3);
	}
}