/* Featured Content
--------------------------------------------- */

.featured-content .entry {
	border-bottom: 1px solid #eee;
	margin-bottom: 20px;
}

.featured-content .entry:last-of-type {
	border-bottom: none;
	margin-bottom: 0;
}

.featured-content .entry-image {
	height: 75px;
	width: 75px;
}

.featured-content .entry-title {
	font-size: 16px;
	font-size: 1.6rem;
	margin-bottom: 5px;
	margin-top: 10px;
}