$color_primary: #0071bc;
$color_primary_rgba: rgba(0, 113, 188, 0.6);

$color_secondary: #e31c3d;
$color_secondary_rgba: rgba(227, 28, 61, 0.6);

$color_tertiary: #fdb81e;
$color_tertiary_rgba: rgba(253, 184, 30, 0.6);

$color_background1: #323a45;
$color_background1_rgba: rgba(50, 58, 69, 0.6);

$color_background2: #dce4ef;
$color_background2_rgba: rgba(220, 228, 239, 0.6);